In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True )

In [ ]:
path = "/content/adult.data.csv"
df = pd.read_csv(path)
df.describe

<bound method NDFrame.describe of        age         workclass  fnlwgt  ... hours-per-week  native-country salary
0       39         State-gov   77516  ...             40   United-States  <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2       38           Private  215646  ...             40   United-States  <=50K
3       53           Private  234721  ...             40   United-States  <=50K
4       28           Private  338409  ...             40            Cuba  <=50K
...    ...               ...     ...  ...            ...             ...    ...
32556   27           Private  257302  ...             38   United-States  <=50K
32557   40           Private  154374  ...             40   United-States   >50K
32558   58           Private  151910  ...             40   United-States  <=50K
32559   22           Private  201490  ...             20   United-States  <=50K
32560   52      Self-emp-inc  287927  ...             40   United-States   >50K

[32561 rows x 15 columns]>

In [ ]:
df.head(10 )

In [ ]:
df.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [ ]:
mean_age = df.age.mean()
round(mean_age, 1)

38.6

How many people of each race are represented in this dataset? This should be a list of integers. (race column)

In [ ]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [ ]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

What is the percentage of people who have a Bachelor's degree?

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [ ]:
df.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [ ]:
edu_per = df.education.value_counts()
percentage = (edu_per['Bachelors']/edu_per.sum())*100
percentage
#per = (edu_per/edu_per.sum())*100

16.44605509658794

In [ ]:
df.groupby('salary').size()

salary
<=50K    24720
>50K      7841
dtype: int64

In [ ]:
len(higher_education)

7491

In [ ]:
len(a['education']) - len(higher_education)

25070

In [ ]:
a = df[['education', 'salary']]
total = len(a[a['salary'] == '>50K'])
total

7841

What percentage of people without advanced education make more than 50K?

In [ ]:
higher_education = [df[df['education'] == 'Bachelors'], df[df['education'] == 'Masters'], df[df['education'] == 'Doctorate']]
higher_education = pd.concat(higher_education)
percentage = (len(higher_education[higher_education['salary'] == '>50K'])/len(higher_education)) * 100

round(percentage, 1)

46.5

In [ ]:
without_advanced = len(a[a['salary'] == '>50K']) - len(higher_education[higher_education['salary'] == '>50K'])
Total = len(a['education']) - len(higher_education)
percentage_other_education = (without_advanced / Total) * 100
round(percentage_other_education, 1)

17.4

What is the minimum number of hours a person works per week?

In [ ]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [ ]:
ave_sex = df[['age', 'sex']]
man_avg = ave_sex.loc[ave_sex['sex'] == 'Male']
means = man_avg.age.mean()
means

39.43354749885268

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [ ]:
lowest = df['hours-per-week'].min()

In [ ]:
min_hour = df[df['hours-per-week'] == lowest]
total = min_hour[min_hour['salary'] == '>50K']
p = (len(total)/len(min_hour)) * 100
p

10.0

What country has the highest percentage of people that earn >50K?

In [ ]:
df.groupby('native-country').size()

In [ ]:
b = df[['native-country', 'salary']]
most_wealthy = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()) * 100
most_wealthy
best = most_wealthy.idxmax()
best

'Iran'

Identify the most popular occupation for those who earn >50K in India.

In [ ]:
indiana = df[df['native-country'] == 'India']
indiana = indiana[indiana['salary'] == '>50K']
nan = indiana['occupation'].value_counts().idxmax()
nan

'Prof-specialty'